    <%- include('./partials/head-html')%>
    <%- include('./partials/navbar')%>
    <%- include('./partials/five-space')%>
    <h1 id="skills-header"><%= title %></h1>
    <%- include('./partials/five-space')%>
    
    <div id="centered-wrapper">
    <table id="skills">
        <th>Skill</th>
        <th>Comfortable</th>
        <th>Projects</th>
        <th>Edit</th>
        <% myDevSkills.forEach((skill,idx)=>{%>
            <tr>
                <td>
                    <a href="/dev-skills/<%=idx%>">
                        <%= skill.skill%>
                    </a>
                </td>
                <td>
                    <%= skill.comfortable?'Comfortable':'Not Comfortable'%>
                </td>
                <td>
                    <%= skill.numProjects %>
                </td>
                <td>
                    <form action="/dev-skills/<%=idx%>?_method=DELETE" method="POST">
                        <button type="submit">X</button>
                    </form>
                    <a href="/dev-skills/<%=idx%>/edit">Edit</a>
                </td>
            </tr>
        <%})%>
        
    </table>
    <a href="./dev-skills/new"><button id="centered-button">Add Skill</button></a>
    </div>
    <%- include('./partials/footer')%>
</body>
</html>